{# Plantilla de nuestra aplicación#}
{#Contenido#}
{% block contenido %}
<!-- Page Content -->
<div class="container">
  <div style="margin-top:10px">

    <!-- Page Heading/Breadcrumbs -->

    <!-- Portfolio Item Row -->
    <div id="content">
      <div class="row">

        <div class="col-lg-20">
          <h1 class="mt-4 mb-3">Ha recibido una nueva solicitud del servicio de Mantenimiento con identificador {{solicitud.id}} </h1>
          <h3 class="my-3">Solicitante: <small> {{solicitud.solicitante}}</small></h3>
          <h3 class="my-3">Unidad de destino: <small> {{solicitud.destino}}</small></h3>
          <h3 class="my-3">Fecha: <small>{{solicitud.fecha|date('Y/m/d')}}</small></h3>
          <h3 class="my-3">Extensión: <small>{{solicitud.extension}}</small></h3>
          <h3 class="my-3">Email: <small>{{solicitud.email}}</small></h3>
          <h3 class="my-3">Descripción Incidencia: <small>{{solicitud.descripcionIncidencia}}</small></h3>
          <h3 class="my-3">Lugar Incidencia: <small>{{solicitud.estancia}}</small></h3>
          {% if solicitud.trabajador %}
          <h3 class="my-3">Solicitud asignada a: <small>{{solicitud.trabajador}}</small></h3>
          {% else %}
          <h3 class="my-3">Solicitud pendiente de ser asignada</h3>
          {% endif %}
          {% if solicitud.estado==2 %}
          <h3 class="my-3"> Solicitud despachada</h3>
          {% endif %}

        </div>
        <!-- /.row -->

      </div>
    </div>
  </div>

</div>

{% endblock %}